<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>管理者ホーム画面</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
		<h1>管理者ホーム</h1>
	</header>
	<main>
		<!-- 背景 -->
		<div id="homeBg">
			<!-- ユーザー名を表示 -->
			<p  id="userName" th:text="|ユーザー: ${currentUser.name}|"></p>
			<form  th:action="@{/logout}" method="post">
				<div class="formContainer homeMenuContainer">
					<div class="buttonContainer">
						<button type="submit" class="actionButton getTaskHome">タスク管理</button>
						<button type="submit" class="actionButton getTimerHome">タイマー管理</button>
						<button type="submit" class="actionButton getUserHome">ユーザー管理</button>
						<button type="submit" class="actionButton logout">ログアウト</button>
					</div>
				</div>
			</form>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/home/home.js"></script>
</body>
</html>