/* ---------------------------------
共通の適用
--------------------------------- */

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

form {
    margin: 0 auto;
    text-align: center;
}

input {
    font-size: 16px;
    margin: 15px 0;
    width: 250px;
    height: 100px;
    border-radius: 10px;
}

input:hover {
    opacity: 0.5;
    cursor: pointer;
}

#getHome {
    margin: 50px;
}

/* ---------------------------------
個別の適用
--------------------------------- */

/* ------------------------------------------------------------------
home.htmlに適用
------------------------------------------------------------------ */


#homeHeader {
    background-color: #E6E6E6;
    margin: 0 auto;
}

#homeHeader h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}


/* ---------------------------------
管理関連ボタン群に適用
--------------------------------- */
#managementRelation {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
}
/* ---------------------------------
タスク管理ボタンに適用
--------------------------------- */
#getTask {
    background-color: #99FF99;
}
/* ---------------------------------
タイマー管理ボタンに適用
--------------------------------- */
#getTimer {
    background-color: #007FFF;
    
}

/* ---------------------------------
ユーザー関連ボタン群に適用
--------------------------------- */

#userRelation {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
}


/* ------------------------------------------------------------------
taskHome.html
------------------------------------------------------------------ */

#taskMgmtHeader {
    background-color: #99FF99;
}

#taskMgmtHeader h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* ---------------------------------

--------------------------------- */
#taskHome {
    background-color: #99FF99;
    height: 350px;
}



#getCreateTask, #getListTasks {
    background-color: #00CCCC;
    
    width: 250px;
    height: 100px;
    margin: 50px;
    margin-left: 50px;
}

/* ------------------------------------------------------------------
timerHome.html
------------------------------------------------------------------ */

#timerHomeHedear {
    background-color: #007FFF;
}
#timerHomeHedear h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}
#timerHome {
    background-color: #007FFF;
}


#firstContainer {
    display: flex;
    margin:0 auto;
}



#getTimerSetting, #getStartTimer, #getRestTimer {
    width: 250px;
    height: 100px;
    margin: 50px;
    background-color: #3399FF; 
    margin-left: 50px;
}

#getUserHome {
    background-color: rgb(239, 229, 202); 
}

/* ------------------------------------------------------------------
userHome.html
------------------------------------------------------------------ */
#userMgmtHeader {
    background-color: rgb(235, 191, 107); /* 飴色 */
}
#userMgmtHeader h1 {
    margin-bottom: 0px;
}

#userHome {
    display: flex;
    background-color: rgb(235, 191, 107); /* 飴色 */
    height: 500px;
}


#createUser, #listUser {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
    margin: 50px;
}