<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<style>
	form {
		display: flex;
		flex-direction: column;
	}
	
	input {
		width: 500px;
	}
	
	button {
		width: 100px;
		height: 50px;
		padding: 15px 0;
		margin: auto;
		border-radius: 1px solid #fff;
	}

	a {
		display: block;
		width: 100px;
		padding: 15px 0;
		margin: auto;
		background-color: gray;
		color: #fff;
		text-decoration: none;
		text-align: center;

	}
</style>
</head>
<body>
	<h1>ユーザー登録</h1>
	
	<!-- 登録フォーム -->
	<form th:action="@{/createUser}" method="post" th:object="${user}">
		<label>氏名</label>
		<input type="text" id="name" placeholder="名前を入力してください" th:field="*{name}">
		<label>Email</label>
		<input type="text"  id="email" placeholder="メールアドレスを入力してください 例: 〇〇@example.com" th:field="*{email}" value="@example.com">
		<label>パスワード</label>
		<input type="text"id="password" placeholder="パスワードを入力してください" th:field="*{password}">
		<button type="submit">登録</button>
		
		<a th:href="@{/home}">キャンセル</a>
	</form>
	<!-- ユーザー登録バリデーション用のJavaScriptファイルの読み込み -->
	<script th:src="@{/js/validateUser.js}"></script>
</body>
</html>