<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
</head>
<body>
	<h1>ユーザー登録</h1>
	
	<!-- 登録フォーム -->
	<form th:action="@{/createUser}" method="post" th:object="${user}">
		<label>氏名</label>
		<input type="text" placeholder="名前を入力してください" th:field="*{name}">
		<label>Email</label>
		<input type="text" placeholder="メールアドレスを入力してください 例: 〇〇@example.com" th:field="*{email}">
		<label>パスワード</label>
		<input type="text" placeholder="パスワードを入力してください" th:field="*{password}">
		<button type="submit">登録</button>
		
		<a th:href="@{/home}">キャンセル</a>
	</form>
</body>
</html>