<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"	
>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>タスク一覧</title>
	<link rel="stylesheet" th:href="@{/css/listComponents.css}">
</head>
<body>
	<!-- 見出し -->
	 <header>
		 <h1>タスク一覧</h1>
	 </header>
	 <main>

			<!-- ステータスメッセージの表示欄 -->
			<div id="flashMessageDisplay" th:if="${flashMessage != null}">
				<p th:text="${flashMessage}"></p>
			<form th:action="@{/getListTasks}" method="get">
				<input id="messageDeleteButton" type="submit" value="OK">
			</form>
		</div>
		<!-- タスク削除機能用フォーム -->	
		<form class="deleteForm" th:action="@{/deleteTask}" method="post">
			<table>
				<thead>
					<tr>
						<th>選択</th>
						<th>タスク</th>
						<th>優先順位</th>
						<th>期日</th>
					</tr>
				</thead>
				<tbody>
					<!-- タスクリストの表示 -->
					<tr th:each="task : ${listTasks}">
						<!-- チェックボックスを追加 -->
						<td><input class="taskCheckbox" type="checkbox" th:value="${task.id}" th:name="taskIds" /></td>
						<td th:text="${task.name}"></td>
						<td th:text="${task.priority}"></td>
						<td th:text="${task.dueDate}"></td>
					</tr>
				</tbody>
			</table>
		</form>
		<div id="buttonContainer">
			<!-- 集中タイマ―画面へ遷移 -->
			<button type="submit" class="actionButton getFocusTimer">集中タイマー</button>
			<!-- タスク編集画面へ遷移 -->
			<button type="submit" class="actionButton getTaskEdit">編集</button>
			<!-- タスクを削除 -->
			<button type="submit" class="actionButton taskDelete">削除</button>
			<!-- タスク管理初期画面へ遷移 -->
			<button type="submit" class="taskRelation getTaskHome">戻る</button>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src='/js/tasks/tasksListAction.js'></script>
	<script src='/js/timers/timerDisplayAction.js'></script>
</body>
</html>