<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>タスク編集</title>
<link rel="stylesheet" th:href="@{/css/formComponents.css}">
</head>
<body>
	<header>
		<h1>タスク編集</h1>
	</header>
	<main>
		<!-- 編集フォーム -->
		<form class="sendDataForm" th:action="@{/register}" method="post" th:object="${task}">
			<div class="formContainer taskFormContainer">
				<input type="hidden" th:field="*{id}">
				<label>タスク</label>
				<input id="taskNameInput" name="taskName"  type="text" placeholder="タスクを入力してください" th:field="*{name}">
				<label>優先順位</label>
				<input id="priorityInput" name="priority" min="1" max="30" type="number" placeholder="優先順位を入力してください" th:field="*{priority}">
				<label>期日</label>
				<input id="dueDateInput" name="dueDate" type="date" placeholder="期日を入力してください" th:field="*{dueDate}">
			</div>
			<div class="buttonContainer">
				<button type="submit" class="actionButton registarTask">登録</button>
				<button type="submit" class="actionButton getTasksList">キャンセル</button>
			</div>
		</form>
	</main>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src='/js/tasks/validateTask.js'></script>
	<script src="/js/tasks/taskFromAction.js"></script>
</body>
</html>