<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>休憩タイマー</title>
	<link rel="stylesheet" th:href="@{/css/timerDisplay.css}">
</head>
<body>
	<div id="timerDisplayHeader">
		<h1>休憩タイマー</h1>
	</div>
	<div id="timerDisplayForm">
			<div id="timerDisplayWrapper">
				<input type="hidden" name="taskId" th:vale="${task.id}">
				<div id="taskContent">
					<label>タスク名</label>
					<p th:text="${task.name}"></p>
				</div>
				<div id="timerContent">
					<label>休憩時間</label>
					<input type="hidden" name="settingId" th:value="${timersSetting.getId}" />
					<p id="timerCount" th:text="${timersSetting.getBreakTime}"></p>	
				</div>
				<!-- スタートボタン -->
				<input id="startButton"  type="submit" value="起動" />
				<!-- ストップボタン -->
				<input  id="stopButton" type="submit" value="停止" disabled/>
				<a id="listTasks" th:href="@{/getListTasks}">戻る</a>
				<!-- リセットボタン -->
				<input type="button" id="resetButton" onclick="location.reload();" value="リセット " disabled />
			</div>
	</div>
	<!-- jqueryを読み込む -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- javascriptの読み込み -->	
	<script src='/js/timerCountActions.js'></script>
</body>
</html>