<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>休憩タイマー</title>
</head>
<link rel="stylesheet" th:href="@{/css/timerDisplay.css}">
<body>
	<div id="timerDisplayHeader">
		<h1>休憩タイマー</h1>
	</div>
	<form id="timerDisplayForm" th:action="@{/breakTime}" method="post">
			<div id="timerDisplayWrapper">
				<input type="hidden" th:value="${task.id}">
				<div id="taskContent">
					<label>タスク名</label>
					<p th:text="${task.name}"></p>
				</div>
				<div id="timerContent">
					<label>休憩時間</label>
					<p th:text="${timersSetting.getBreakTime}"></p>	
				</div>
				<!-- タイマーの種類 -->
				<input type="hidden" name="timerType" value="2">
				<input id="startButton"  type="submit" value="休憩">
				<a th:href="@{/listTasks}">戻る</a>
			</div>
		</form>
</body>
</html>