<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>集中タイマー</title>
	<link rel="stylesheet" th:href="@{/css/timerDisplay.css}">
</head>
<body>
	<div id="timerDisplayHeader">
		<h1>集中タイマー</h1>
	</div>
	<form id="timerDisplayForm" th:action="@{/startTimer}" method="post">
			<div id="timerDisplayWrapper">
				<div id="taskContent">
					<label>タスク名</label>
					<p th:text="${task.name}"></p>
				</div>
				<div id="timerContent">
					<label>集中時間</label>
					<p th:text="${timersSetting.getFocusTime}"></p>	
				</div>
				<!-- タイマーの種類判定用に送信 -->
				<input type="hidden" value="1">
				<input id="startButton"  type="submit" value="起動">
				<a th:href="@{/listTasks}">戻る</a>
			</div>
		</form>

</body>
</html>