<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>タイマー編集</title>
	<link rel="stylesheet" th:href="@{/css/formComponents.css}">
</head>
<body>
	<h1>タイマーをセットします</h1>
	
	<form th:action="@{/save}" method="post" th:object="${timersSetting}">
		<div class="timerSettingsForm">
			<input type="hidden" th:field="*{id}">
			<label>集中タイマー</label>
			<input type="text" placeholder="00:00:00" th:field="*{focusTime}"/>
			<label>休憩タイマー</label>
			<input type="text" placeholder="00:00:00" th:field="*{breakTime}"/>
			<input type="hidden" th:field="*{registarAt}">
			<!-- ページ遷移先判定用のデータ送信 -->
			<input type="hidden" name="formSendCheckPageValue" value="2">
			<div id="select-button">
				<button type="submit">登録</button>
				<a th:href="@{/getTimerlist}">キャンセル</a>
			</div>
		</div>
	</form>
</body>
</html>