<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>集中タイマー</title>
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
</head>
<body>
	<!-- ヘッダー -->
	<div id="timerHomeHedear">
		<h1>集中タイマー</h1>
	</div>
	<div id="timerHome">
		<div id="firstContainer">
			<!-- タイマー入力画面へ遷移 -->
			<form th:action="@{/getTimerSetting}" method="get">
				<input id="getTimerSetting" type="submit" value="タイマー登録">
			</form>
			<!-- タイマー画面へ遷移-->
			<form th:action="@{/getStartTimer}" method="get">
				<input id="getStartTimer" type="submit" value="起動"/>
			</form>
		</div>
		<div id="secondContainer">
			<!-- 休憩タイマー画面へ遷移 -->
			<form th:action="@{/getRestTimer}" method="get">
				<input id="getRestTimer" type="submit" value="休憩">
			</form>
			<!-- 初期画面へ遷移 -->
			<form th:action="@{/home}" method="get">
				<input id="getHome" type="submit" value="戻る">
			</form>
		</div>
	</div>
</body>
</html>