<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>集中タイマー</title>
</head>
<body>
	<h1>集中タイマー</h1>
	
	<!-- タイマー入力画面へ遷移 -->
	<form th:action="@{/getTimerSetting}" method="get">
		<input type="submit" value="00:00:00">
	</form>
	
	<!-- 休憩タイマー入力画面へ遷移 -->
	<form th:action="@{/getRestTimerSetting}" method="get">
		<input type="submit" value="00:00:00">
	</form>
	
	
	<div id="timerBtns">
		<!-- タイマー画面へ遷移-->
		<form th:action="@{/getStartTimer}" method="get">
			<input type="submit" value="起動"/>
		</form>
		<!-- 休憩タイマー画面へ遷移 -->
		<form th:action="@{/getRestTimer}" method="get">
			<input type="submit" value="休憩">
		</form>
		<!-- 初期画面へ遷移 -->
		<a th:href="@{/home}">戻る</a>
	</div>
</body>
</html>