<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/formComponents.css}">
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
</head>
<body>
	<h1>ログイン</h1>
	<!-- パラメータのチェック -->
	<div th:if="${param.error}">
		<p>ユーザー名またはパスワードが違います。</p>
		<form th:action="@{/loginForm}" method="get">
			<input id="loginError" type="submit" value="戻る">
		</form>
	</div>
	<form th:action="@{/loginForm}" method="post">
		<div class="loginForm">
			<label>メールアドレス</label>
			<input id="mailInput" type="email" name="email">
			<label>パスワード</label>
			<input id="passwordInput" type="password" name="password">
			<div id="login-button">
				<input type="submit" value="ログイン">
			</div>
		</div>
	</form>
	
</body>
</html>