<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
</head>
<body>
	<h1>タスク一覧</h1>
	<table>
		<thead>
			<tr>
				<th>選択</th>
				<th>ID</th>
				<th>タスク</th>
				<th>優先順位</th>
				<th>期日</th>
			</tr>
		</thead>
		<tbody>
			<!-- タスクリストの表示 -->
			<tr th:each="task : ${listTasks}">
				<td th:text="${task.name}"></td>
				<td th:text="${task.priority}"></td>
				<td th:text="${task.dueDate}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>