<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
	<link rel="stylesheet" th:href="@{/css/listComponents.css}">
</head>
<body>
	<h1>タスク一覧</h1>
	<!-- タスク削除機能用フォーム -->	
	<form id="deleteForm" th:action="@{/deleteTask}" method="post">
		<table>
			<thead>
				<tr>
					<th>選択</th>
					<th>タスク</th>
					<th>優先順位</th>
					<th>期日</th>
				</tr>
			</thead>
			<tbody>
				<!-- タスクリストの表示 -->
				<tr th:each="task : ${listTasks}">
					<!-- チェックボックスを追加 -->
					<td><input class="taskCheckbox" type="checkbox" th:value="${task.id}" th:name="taskIds" /></td>
					<td th:text="${task.name}"></td>
					<td th:text="${task.priority}"></td>
					<td th:text="${task.dueDate}"></td>
				</tr>
			</tbody>
		</table>	
	</form>
	<div id="listButtons">

		<!-- タイマー管理画面遷移 -->
		<form id="timerForm" th:action="@{/getTimer}" method="get">
			<input class="timersRelation" type="submit" value="タイマー管理" />
		</form>
		<!-- 集中タイマー表示 -->
		<button class="timersRelation focusTimerRelation">集中タイマー</button>
		<!-- 休憩タイマーの表示 -->
		<button class="timersRelation breakTimerRelation">休憩タイマー</button>
		<!-- 削除ボタンの表示 -->
		<button class="taskRelation taskDeleteRelation" type="submit">削除</button>
		<!-- 編集ボタンの追加 -->
		<button class="taskRelation taskEditRelation">編集</button>
		<a th:href="@{/getTask}">戻る</a>
	</div>
</body>
<!-- jquetyを読み込む -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JavaScriptを読み込む -->
<script src='/js/taskDelete.js'></script>
<script src='/js/taskActions.js'></script>
</html>