<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク登録</title>
<link rel="stylesheet" th:href="@{/css/formComponents.css}">
</head>
<body>
	<h1>タスク</h1>
	
	<!-- 登録フォーム -->
	<form th:action="@{/register}" method="post" th:object="${task}">
		<div class="taskForm">

			<label>タスク</label>
			<input id="taskName" type="text" placeholder="タスクを入力してください" th:field="*{name}">
			<label>優先順位</label>
			<input id="priority" type="number" placeholder="優先順位を入力してください" th:field="*{priority}">
			<label>期日</label>
			<input id="dueDate" min="1" max="30" type="date" placeholder="期日を入力してください" th:field="*{dueDate}">
			<div id="select-button">
				<button  type="submit">登録</button>
				<a th:href="@{/getTask}">キャンセル</a>
			</div>
		</div>
	</form>		
	<!-- jquetyを読み込む -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- JavaScriptを読み込む -->
	<script src='/js/validateTask.js'></script>
</body>
</html>