<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>ユーザー管理初期画面</title>
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
</head>
<body>
	<!-- 見出し -->
	<header class="userMgmtHeader">
		<h1>ユーザー管理</h1>
	</header>
	<main>
		<form>
			<!-- 背景 -->
			<div class="homeContainer UserHomeMenuContainer">
				<div class="buttonContainer userHomeButtonContainer">
					<!-- ユーザー登録画面遷移 -->
					<button type="submit" class="actionButton getCreateUser">ユーザー登録</button>
					<!-- ユーザー一覧表示画面遷移 -->
					<button type="submit" class="actionButton getListUsers">ユーザー一覧</button>
					<!-- 管理者初期画面遷移 -->
					<button type="submit" class="actionButton getAdminHome">戻る</button>	
				</div>
			</div>
		</form>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/users/userHomeAction.js"></script>
</body>
</html>



