<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>集中タイマー</title>
	<link rel="stylesheet" th:href="@{/css/timerDisplay.css}">
</head>
<body>
	<!-- 見出し -->
	<div id="timerDisplayHeader">
		<h1>集中タイマー</h1>
	</div>
	<div id="timerDisplayForm">
			<div id="timerDisplayWrapper">
				<!-- ページ判定用の値 -->
				<input type="hidden" id="timerPageNumber" value="1">
				<input type="hidden" id="taskId" name="taskId" th:value="${task.id}">
				<!-- タスク表示欄 -->
				<div id="taskContent">
					<label>タスク名</label>
					<p id="taskName" th:text="${task.name}"></p>
				</div>
				<!-- タイマー表示欄 -->
				<div id="timerContent">
					<label>集中時間</label>
					<input type="hidden" name="settingId" th:value="${timersSetting.getId}" />
					<p id="timerCount" th:text="${timersSetting.getFocusTime}"></p>	
				</div>
				<!-- スタートボタン -->
				<input id="startButton"  type="submit" value="起動" />
				<!-- ストップボタン -->
				<input  id="stopButton" type="submit" value="停止" disabled/>
				<!-- タスク一覧へ遷移 -->
				<a id="listTasks" th:href="@{/getListTasks}">戻る</a>
				<!-- リセットボタン -->
				<input type="button" id="resetButton" onclick="location.reload();" value="リセット " disabled />
			</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src='/js/timers/timerCountActions.js'></script>
</body>
</html>