<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<title>集中タイマー</title>
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
</head>
<body>
	<!-- ヘッダー -->
	<div id="timerHomeHedear">
		<h1>集中タイマー</h1>
	</div>
	<!-- 背景 -->
	<div id="timerHome" th:object="${currentUser}">
		<div id="container">
			<!-- ロールの判定用 -->
			<input id="role" type="hidden" th:field="*{role}" />
			<!-- タイマー入力画面へ遷移 -->
			<form th:action="@{/getTimerSetting}" method="get">
				<input id="getTimerSetting" type="submit" value="タイマー登録">
			</form>
			<!-- タイマー入力画面へ遷移 -->
			<form th:action="@{/getTimerlist}" method="get">
				<input id="getTimerSetting" type="submit" value="タイマー一覧">
			</form>
			<!-- 管理者初期画面遷移 -->
			<form th:action="@{/getAdminHome}" method="get">
				<input id="getAdminHome" type="submit" value="戻る">
			</form>			
			<!-- 一般ユーザー初期画面遷移 -->
			<form th:action="@{/home}" method="get">
				<input id="getHome" type="submit" value="戻る">
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/home/home.js"></script>
</body>
</html>