/* ---------------------------------------------------------------------------------------------------
PC画面はここから適用
--------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------
デフォルトセレクタに適用
--------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 1024px;
    text-align: center;
}

h1 {
    margin:  0 auto;
}
main {
    padding-inline: 8px;
    max-width: 1024px;
    margin: 0 auto;
}
.sendDataForm {
    margin: 0 auto;    
    width: 500px;
    text-align: center;
}


input, label {
    width: 450px;
    height: 30px;
    margin: 0 0 0 5px
}
label {
    text-align: left;
    color: #000000;
    padding: 15px 0 0 10px;
}

.actionButton {
    width: 150px;
    height: 70px;
    padding: 15px 0;
    margin-right: 30px;
    border-radius: 15px;
    font-size: 16px;
}


/* 共通フォームクラスに適用 */
.formContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 80px;
    height: 200px; 
}
/* 共通フォームクラスのラベルに適用 */
.formContainer label.black-text {
    margin-left: 25px;
    padding-bottom: 25px;
}

.buttonContainer {
    text-align: center;
    margin-top: 30px;
}
/* 共通ボタンクラスに適用 */
.actionButton input {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100px;
    padding-right: 6px;
    border-radius: 10px;
}

/* 共通ボタンクラスに適用 */
.actionButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* 共通入力欄属性に適用 */
#nameInput, #mailInput.white, #passwordInput.white {
    margin: 0  0 25px 25px;
    width: 400px;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
}

/* ---------------------------------------------------------------------------------------------------
指定のセレクタに適用
--------------------------------------------------------------------------------------------------- */

/* ---------------------------------
ログイン画面に適用
--------------------------------- */
.loginFormContainer {
    background-color: #E6E6E6;
}
#errorMsg {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#flashMessageDisplay {
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* ---------------------------------
メッセージアラートが表示されたら出現
--------------------------------- */
#messageDeleteButton {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	font-size: 50px;
	margin-bottom: 50px;
}

#messageDeleteButton:hover {
	cursor: pointer;
	opacity: 0.5;
}

#flashMessageDisplay p{
	font-size: 50px;
}


#flashMessageDisplay {
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/* ---------------------------------
ステータスメッセージが表示されたら出現
--------------------------------- */
#messageDeleteButton {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	font-size: 50px;
	margin-bottom: 50px;
}

#messageDeleteButton:hover {
	cursor: pointer;
	opacity: 0.5;
}

#flashMessageDisplay p{
	font-size: 50px;
}

/* ---------------------------------
エラーメッセージが表示されたら出現
--------------------------------- */
#loginError {
	width: 150px;
	height: 50px;
	border-radius: 10px;
}

#loginError:hover {
	cursor: pointer;
	opacity: 0.5;
}

/* ---------------------------------
ユーザー登録に適用
--------------------------------- */
.userFormContainer {
    background-color: rgb(235, 191, 107); /* 飴色 */
}

.registarUser, .registar {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
}

/* ---------------------------------
ユーザー編集に適用
--------------------------------- */
#selectRole {
	width: 150px;
	margin-left: 5px;
	padding: 5px 0px;
}


/* ---------------------------------
タスク登録に適用
--------------------------------- */
.taskForm {
    background-color: #ccffcc;
}

/* ---------------------------------
タイマー登録に適用
--------------------------------- */
.timerSettingsForm {
    /* display: flex;
    flex-direction: column; */
    background-color: #007FFF;
}

.error-message {
    text-align: center;
    color: red;
}

.error-message p {
    font-size: 20px;
}


/* ---------------------------------------------------------------------------------------------------
タブレットサイズはここから
--------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 769px) {

    /* 共通の見出し */
    h1 {
        font-size: 50px;
    }

    .buttonContainer {
        height: 300px;
        padding: 0;
        flex-direction: column;
        margin: 30px 0 auto;
    }

    
    /* ---------------------------------
    ログイン画面に適用
    --------------------------------- */

    .formContainer label {
        font-size: 20px;
    }
    /* 入力欄に適用 */
    #formContainer input {
        height: 35px;
    }
    
    .actionButton {
        width: 450px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 20px;
    }

}


/* ---------------------------------------------------------------------------------------------------
スマホサイズはここから
--------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 426px) {

    h1 {
        font-size: 50px;
        text-align: center;
    }
    main {
        text-align: center;
    }

    body {
        margin: 0;
        padding: 0;
    }

    form {
        width: 460px;
        margin: 0 auto;
    }
    
    button {
        font-size: 25px;
    }
    /* ---------------------------------
    ログイン画面に適用
    --------------------------------- */
    .loginForm {
        margin-top: 15px;
        height: 100%;
        padding: 0;
        font-size: 22px;
    }

    .loginForm label{
        margin-left: 5px;
        font-size: 25px;
    }
    /* 入力欄に適用 */
    #nameInput, #mailInput, #passwordInput {
        font-size: 15px;
        margin-left: 5px;
        height: 45px;
        width: 430px;
    }
    /* ログインボタン群の親要素に適用 */
    #login-button {
        flex-direction: column;
        align-items: center;
    }
    
    .loginRelation, .userRelation {
        width: 450px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    /* ---------------------------------
    ログイン前のユーザー登録画面に適用
    --------------------------------- */
    .loginRelation, .userRelation {
        width: 250px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    /* ボタン群に適用 */
    button {
        width: 75%;
    }
    /* 入力欄に適用 */
    #nameInput, #emailInput, #passwordInput {
        width: 90%;
    }

}