/* ---------------------------------------------------------------------------------------------------
デフォルトセレクタに適用
--------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
}
body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    justify-content: center;
    max-width: 1044px;
    width: 100%;
}


h1 {
    margin:  0 auto;
}
main {
    padding-inline: 8px;
    max-width: 1044px;
    margin: 0 auto;
}


form {
    margin: 0 auto;
    text-align: center;
}

/* ---------------------------------
ボタン全てに適用
--------------------------------- */

.buttonContainer {
    text-align: center;
    margin-top: 50px;
}

.actionButton {
    width: 250px;
    height: 100px;
    padding: 15px 0;
    margin-right: 30px;
    border-radius: 15px;
    font-size: 16px;
}
input {
    font-size: 16px;
    margin: 15px 0;
    width: 250px;
    height: 100px;
    border-radius: 10px;
}


.getTaskHome {
    background-color: #99FF99;
}

.getTimerHome {
    background-color: #007FFF; 
}


/* ---------------------------------
ボタンにカーソルが合えば
--------------------------------- */
input:hover {
    opacity: 0.5;
    cursor: pointer;
}
/* ---------------------------------
戻るボタンに適用の適用
--------------------------------- */
#getHome, #getAdminHome {
    margin: 50px;
    background-color: #E6E6E6;
}

#getHome:disabled,#getAdminHome:disabled {
	display: none;
}

/* ---------------------------------
コンテナに適用
--------------------------------- */
#container {
    display: flex;
    margin:0 auto;
}


/* ---------------------------------------------------------------------------------------------------
個別の適用
--------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------
home.htmlとadminHome共通適用
------------------------------------------------------------------ */
#userName {
	font-size: 30px;
	margin: 0px 0px 30px 25px;
}



/* ------------------------------------------------------------------
home.htmlに適用
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */
header {
    background-color: #E6E6E6;
    margin: 0 auto;
}

/* ---------------------------------
背景に適用
--------------------------------- */
#homeBg {
    background-color: #E6E6E6;
    height: 500px;
}

/* ---------------------------------
タスク管理ボタンに適用
--------------------------------- */
#getTask {
    background-color: #99FF99; /* 緑色 */
}

/* ---------------------------------
タイマー管理ボタンに適用
--------------------------------- */
#getTimer {
    background-color: #007FFF; /* 青色 */
    
}


/* ---------------------------------
ユーザー管理ボタンに適用
--------------------------------- */
#getUserHome {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
}

/* ---------------------------------
ログアウトボタンに適用
--------------------------------- */
#logout {
    background-color: #E6E6E6; /* 灰色 */
}

/* ---------------------------------
タスク管理ボタン、タイマー管理ボタン、ログアウトボタンに共通で適応
--------------------------------- */
#getTask, #getTimer, #logout {
    width: 250px;
    height: 100px;
    margin: 50px;
    
}



/* ------------------------------------------------------------------
adminHome.html
------------------------------------------------------------------ */


/* ---------------------------------
一行目のボタン群(タスク管理、タイマー管理)に適応
--------------------------------- */
#firstRowContainer {
	display: flex;
	margin: 0px 20px 30px 20px;

}

/* ---------------------------------
二行目のボタン群(ユーザー管理、ログアウト)に適応
--------------------------------- */
#secondRowContainer {
	display: flex;
	margin: 30px 20px 0px 20px;
	
}


/* ---------------------------------
タスク管理ボタン、タイマー管理ボタン、ログアウトボタンに共通で適応
--------------------------------- */
#getTask, #getTimer, #getUserHome, #logout {
    width: 250px;
    height: 100px;
    margin: 0px;
    
}



/* ------------------------------------------------------------------
taskHome.html
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */

#taskMgmtHeader {
    background-color: #99FF99; /* 緑色 */
}

#taskMgmtHeader h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* ---------------------------------
背景に適用
--------------------------------- */
#taskHome {
    display: flex;
    background-color: #99FF99; /* 緑色 */
    height: 500px;
}


/* ---------------------------------
登録と一覧ボタンに適用
--------------------------------- */
#getCreateTask, #getListTasks {
    background-color: #00CCCC; /* 緑色 */
    width: 250px;
    height: 100px;
    margin: 50px;
    margin-left: 50px;
}



/* ------------------------------------------------------------------
timerHome.html
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */
#timerHomeHedear {
    background-color: #007FFF; /* 青色 */
}
#timerHomeHedear h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* ---------------------------------
背景に適用
--------------------------------- */
#timerHome {
    display: flex;
    background-color: #007FFF; /* 青色 */
    height: 500px;
}

/* ---------------------------------
ボタン単体に適用
--------------------------------- */
#getTimerSetting, #getStartTimer, #getRestTimer {
    width: 250px;
    height: 100px;
    margin: 50px;
    background-color: #3399FF; /* 青色 */
    margin-left: 50px;
}



/* ------------------------------------------------------------------
userHome.html
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */
#userMgmtHeader {
    background-color: rgb(235, 191, 107); /* 飴色 */
}
#userMgmtHeader h1 {
    margin-bottom: 0px;
}

/* ---------------------------------
背景に適用
--------------------------------- */
#userHome {
    display: flex;
    background-color: rgb(235, 191, 107); /* 飴色 */
    height: 500px;
}

/* ---------------------------------
作成と一覧ボタンに適用
--------------------------------- */
#createUser, #listUser {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
    margin: 50px;
}