/* ---------------------------------------------------------------------------------------------------
デフォルトセレクタに適用
--------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    justify-content: center;
    max-width: 1044px;
}


h1 {
    margin:  0 auto;
}
main {
    padding-inline: 8px;
    max-width: 1044px;
    margin: 0 auto;
}


form {
    margin: 0 auto;
    text-align: center;
}

/* ---------------------------------
ボタン全てに適用
--------------------------------- */

.buttonContainer {
    text-align: center;
    margin: 0 auto;
}

.actionButton {
    width: 250px;
    height: 100px;
    padding: 15px 0;
    margin-right: 30px;
    border-radius: 15px;
    font-size: 16px;
}
.actionButton:hover {
    opacity: 0.5;
    cursor: pointer;
}
input {
    font-size: 16px;
    margin: 15px 0;
    width: 250px;
    height: 100px;
    border-radius: 10px;
}


.getTaskHome {
    background-color: palegreen;
}

.getTimerHome {
    background-color: cornflowerblue;
}


/* ---------------------------------
ボタンにカーソルが合えば
--------------------------------- */
input:hover {
    opacity: 0.5;
    cursor: pointer;
}
/* ---------------------------------
戻るボタンに適用の適用
--------------------------------- */
.getHome, .getAdminHome {
    background-color: #E6E6E6;
}

.getHome:disabled,.getAdminHome:disabled {
	display: none;
}



/* ---------------------------------------------------------------------------------------------------
個別の適用
--------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------
home.htmlとadminHome共通適用
------------------------------------------------------------------ */
#userName {
	font-size: 30px;
	margin: 0
}



/* ------------------------------------------------------------------
home.htmlに適用
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */
header {
    background-color: #E6E6E6;
    margin: 0 auto;
}

/* ---------------------------------
背景に適用
--------------------------------- */
#homeBg {
    background-color: #E6E6E6;
    height: 500px;
}

/* ---------------------------------
タスク管理ボタンに適用
--------------------------------- */
#getTask {
    background-color: #99FF99; /* 緑色 */
}

/* ---------------------------------
タイマー管理ボタンに適用
--------------------------------- */
#getTimer {
    background-color: #007FFF; /* 青色 */
    
}


/* ---------------------------------
ユーザー管理ボタンに適用
--------------------------------- */
.getUserHome {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
}

/* ---------------------------------
ログアウトボタンに適用
--------------------------------- */
#logout {
    background-color: #E6E6E6; /* 灰色 */
}

/* ---------------------------------
タスク管理ボタン、タイマー管理ボタン、ログアウトボタンに共通で適応
--------------------------------- */
#getTask, #getTimer, #logout {
    width: 250px;
    height: 100px;
    margin: 50px;
    
}



/* ------------------------------------------------------------------
adminHome.html
------------------------------------------------------------------ */


/* ---------------------------------
一行目のボタン群(タスク管理、タイマー管理)に適応
--------------------------------- */
#firstRowContainer {
	display: flex;
	margin: 0px 20px 30px 20px;

}

/* ---------------------------------
二行目のボタン群(ユーザー管理、ログアウト)に適応
--------------------------------- */
#secondRowContainer {
	display: flex;
	margin: 30px 20px 0px 20px;
	
}


/* ---------------------------------
タスク管理ボタン、タイマー管理ボタン、ログアウトボタンに共通で適応
--------------------------------- */
#getTask, #getTimer, #getUserHome, #logout {
    width: 250px;
    height: 100px;
    margin: 0px;
    
}



/* ------------------------------------------------------------------
taskHome.html
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */

.taskMgmtHeader {
    background-color: springgreen;
    /* 緑色 */
}

/* ---------------------------------
背景に適用
--------------------------------- */

.taskHomeMenuContainer {

    background-color: springgreen;
    /* 緑色 */
    height: 500px;
}


/* ---------------------------------
登録と一覧ボタンに適用
--------------------------------- */
.getCreateTask, .getListTasks {
    background-color: palegreen;
    /* 緑色 */
    /* width: 250px;
    height: 100px;
    margin: 50px;
    margin-left: 50px; */
}



/* ------------------------------------------------------------------
timerHome.html
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */
.timerHomeHedear {
    background-color: dodgerblue;
    /* 青色 */
}


/* ---------------------------------
背景に適用
--------------------------------- */
.timerHomeMenuContainer {
    background-color: dodgerblue;
    /* 青色 */
    height: 500px;
}

/* ---------------------------------
ボタン単体に適用
--------------------------------- */
.getTimerSetting, .getTimerlist {
    background-color: #3399FF; /* 青色 */
}



/* ------------------------------------------------------------------
userHome.html
------------------------------------------------------------------ */

/* ---------------------------------
ヘッダーに適用
--------------------------------- */
#userMgmtHeader {
    background-color: rgb(235, 191, 107); /* 飴色 */
}
#userMgmtHeader h1 {
    margin-bottom: 0px;
}

/* ---------------------------------
背景に適用
--------------------------------- */
#userHome {
    display: flex;
    background-color: rgb(235, 191, 107); /* 飴色 */
    height: 500px;
}

/* ---------------------------------
作成と一覧ボタンに適用
--------------------------------- */
#createUser, #listUser {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
    margin: 50px;
}

/* ---------------------------------------------------------------------------------------------------
PC画面はここから適用
--------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------
デフォルトセレクタに適用
--------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    justify-content: center;
}

h1 {
    margin:  0 auto;
}
main {
    padding-inline: 8px;
    max-width: 1044px;
    margin: 0 auto;
}
.sendDataForm {
    margin: 0 auto;    
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* 共通フォームクラスに適用 */
.formContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 250px

}
/* 共通フォームクラスのラベルに適用 */
.formContainer label {
    max-width: 450px;
    width: 100%;
    height: 30px;
    margin: 15px 0 0 25px;
    text-align: left;
    color: #000000;
}
.loginFormContainer label {
    margin-top: 35px;
}

.actionButton {
    width: 150px;
    height: 70px;
    padding: 15px 0;
    margin-right: 30px;
    border-radius: 15px;
    font-size: 16px;
}

/* 共通ボタンクラスに適用 */
.actionButton input {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100px;
    padding-right: 6px;
    border-radius: 10px;
}

/* 共通ボタンクラスに適用 */
.actionButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* 共通入力欄属性に適用 */
#nameInput, #mailInput, #passwordInput {
    margin-left: 25px;
    max-width: 400px;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    padding: 5px;
}

/* ---------------------------------------------------------------------------------------------------
指定のセレクタに適用
--------------------------------------------------------------------------------------------------- */

/* ---------------------------------
ログイン画面に適用
--------------------------------- */
.loginFormContainer {
    background-color: #E6E6E6;
}
#errorMsg {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#flashMessageDisplay {
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* ---------------------------------
メッセージアラートが表示されたら出現
--------------------------------- */
#messageDeleteButton {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	font-size: 50px;
	margin-bottom: 50px;
}

#messageDeleteButton:hover {
	cursor: pointer;
	opacity: 0.5;
}

#flashMessageDisplay p{
	font-size: 50px;
}


#flashMessageDisplay {
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/* ---------------------------------
ステータスメッセージが表示されたら出現
--------------------------------- */
#messageDeleteButton {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	font-size: 50px;
	margin-bottom: 50px;
}

#messageDeleteButton:hover {
	cursor: pointer;
	opacity: 0.5;
}

#flashMessageDisplay p{
	font-size: 50px;
}

/* ---------------------------------
エラーメッセージが表示されたら出現
--------------------------------- */
#loginError {
	width: 150px;
	height: 50px;
	border-radius: 10px;
}

#loginError:hover {
	cursor: pointer;
	opacity: 0.5;
}

/* ---------------------------------
ユーザー登録に適用
--------------------------------- */
.userFormContainer {
    background-color: rgb(235, 191, 107); /* 飴色 */
}

.registarUser, .registar {
    background-color: rgb(239, 229, 202); /* 亜麻色 */
}

/* ---------------------------------
ユーザー編集に適用
--------------------------------- */
#selectRole {
	width: 150px;
	margin-left: 5px;
	padding: 5px 0px;
}


/* ---------------------------------
タスク登録に適用
--------------------------------- */
.taskForm {
    background-color: #ccffcc;
}

/* ---------------------------------
タイマー登録に適用
--------------------------------- */
.timerSettingsForm {
    /* display: flex;
    flex-direction: column; */
    background-color: #007FFF;
}

.error-message {
    text-align: center;
    color: red;
}

.error-message p {
    font-size: 20px;
}



/* ---------------------------------------------------------------------------------------------------
タブレットサイズはここから
--------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 769px) {

    

    /* 共通の見出し */
    h1 {
        font-size: 30px;
    }
    
    /* フォーム共通に適用 */
    .formContainer {
        width: 100%;
        height: 350px;
    }


    /* ---------------------------------
    ログイン画面に適用
    --------------------------------- */
    .loginFormContainer {
        height: 250px;
    }

    .formContainer label {
        font-size: 20px;
        margin-top: 30px;
    }
    /* 入力欄に適用 */
    #nameInput, #mailInput, #passwordInput {
        width: 85%;
        height: 15px;
    }
    
    header {
        width: 752px;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
        height: 300px;
        padding: 0;
        margin: 30px 0 auto;
    }


    .actionButton {
        max-width: 350px;
        width: 85%;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 20px;
    }


    .taskHomeButtonContainer {
        margin-top:  auto;
        padding: 30px;
    }
    
    .timerHomeMenuContainer {
        margin-top:  auto;
        padding: 30px;
    }

    #userName {
        text-align: center;
        font-size: 25px;
        padding:  30px 25px;
    }

}


/* ---------------------------------------------------------------------------------------------------
スマホサイズはここから
--------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 426px) {
    header {
        width: 100%;
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }
    main {
        text-align: center;
    }

    body {
        margin: 0;
        padding: 0;
    }

    form {
        width: 460px;
        margin: 0 auto;
    }
    
    button {
        font-size: 25px;
    }
    /* ---------------------------------
    ログイン画面に適用
    --------------------------------- */
    /* 入力欄に適用 */
    #nameInput, #mailInput, #passwordInput {
        font-size: 15px;
    }
    /* ログインボタン群の親要素に適用 */
    #login-button {
        flex-direction: column;
        align-items: center;
    }
    
    .loginRelation, .userRelation {
        width: 450px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    


}