/* ---------------------------------------------------------------------------------------------------
デフォルトセレクタに適用
--------------------------------------------------------------------------------------------------- */


body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    justify-content: center;
}

main {
    padding-inline: 8px;
    max-width: 1044px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 50px;
}

table {
    width: 1500px;
    height: 500px;
    border-collapse: separate;
    border-spacing: 30px 50px;
    font-size: 35px;
    text-align: center;
}

table th, table td {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #E6E6E6;
}


form {
    width: 1500px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 30px 60px 60px 30px;
    text-align: center;
}

button {
    width: 150px;
    height: 100px;
    padding: 15px 0;
}


button:hover, a:hover {
    opacity: 0.5;
    cursor: pointer;
}


/* 共通ボタンクラスに適用 */
.actionButton input {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 75%;
    padding-right: 6px;
    border-radius: 10px;
}

/* 共通ボタンクラスに適用 */
.actionButton:hover {
    cursor: pointer;
    opacity: 0.5;
}



/* ---------------------------------------------------------------------------------------------------
指定のセレクタに適用
--------------------------------------------------------------------------------------------------- */

.buttonContainer {
    width: 1500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-weight: bold;
}

.actionButton {
    margin: 30px 15px 50px 15px;
    width: 100%;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
}


/* ---------------------------------
タスク一覧に適用(tasks.html)
--------------------------------- */


/* ---------------------------------
タイマー管理画面遷移のボタン
--------------------------------- */
#timerForm {
    margin: 0;
    padding: 0;
    width: 180px;
}

#timerForm input {
    width: 150px;
    height: 100px;
}

#flashMessageDisplay {
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/* ---------------------------------
ステータスメッセージが表示されたら出現
--------------------------------- */
#messageDeleteButton {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	font-size: 50px;
	margin-bottom: 50px;
}

#messageDeleteButton:hover {
	cursor: pointer;
	opacity: 0.5;
}

#flashMessageDisplay p{
	font-size: 50px;
}


/* ---------------------------------
削除フォーム
--------------------------------- */
.deleteForm {
    margin: 0 auto;
    width: 1500px;
    border-radius: 15px;
    padding: 30px 60px 60px 30px;
    background-color: #99FF99;
    text-align: center;
}


/* ---------------------------------
チェックボックスのサイズ
--------------------------------- */
.taskCheckbox {
    transform: scale(2);
}

/* 戻るボタンに適応 */
.getTaskHome, .getTimerHome {
    background-color: #f0f0f0;
}

/* ---------------------------------
タイマー関係のボタン群(タイマー一覧画面、集中タイマー画面)
--------------------------------- */

.getTimerEdit, .timerDelete {
    background-color: cornflowerblue;
}

/* ---------------------------------
タスク関係のボタン群(編集、削除)
--------------------------------- */
.getTaskEdit, .taskDelete {
    background-color: palegreen;
}



/* ---------------------------------
タイマー一覧に適用(timers.html)
--------------------------------- */

/* フォームに適用 */
.timerDeleteForm {
    background-color: dodgerblue;
}

/* テーブル見出しと表示内容に適用 */
.timerDeleteForm th, #timerDeleteForm td {
    
    padding: 0px;
    
}


/* チェックボックスに適用 */
.timerCheckbox {
    transform: scale(2);
}
/* 戻るボタン個別に適応 */
.timerHomeRelation {
    background-color: #f0f0f0
}


/* ---------------------------------
ユーザー一覧に適用(users.html)
--------------------------------- */

/* フォームに適用 */
#userDeleteForm {
    width: 1500px;
    background-color: #deb068;
    margin: 0 auto;
}

/* ボタン群に適用 */
.userRelation {
    margin: 20px 20px 20px 20px;
    background-color: rgb(239, 229, 202); /* 亜麻色 */
}


/* テーブル見出しと表示内容に適用 */
#userDeleteForm th, #userDeleteForm td {
    background-color: #E6E6E6;
    padding: 0px;
    
}

/* チェックボックスに適用 */
.userCheckbox {
    transform: scale(2);
}
/* 戻るボタン個別に適応 */
.userHomeRelation {
    background-color: #f0f0f0
}

/* ---------------------------------------------------------------------------------------------------
タブレットサイズはここから
--------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 769px) {

    header {
        width: 100%;
    }

    main {
        text-align: center;
    }
    form {
        width: 95%;
        height: 55%;
    }

    /* テーブル共通 */
    table {
        writing-mode: vertical-lr;
        width: 95%;
        height: 55%;
    }
    /* テーブルの見出しとデータを縦表示 */
    table th,
    table td {
        writing-mode: horizontal-tb;
        font-size: 25px;
    }
    
    table th {
        width: 5rem;

    }
    
    table td {
        width: 0.5rem;
    }
    
    .buttonContainer {
        flex-direction: column;
        margin: 50px 0px auto;
        text-align: center;
    }

    .actionButton {
        width: 52%;
        height: 100px;
        margin-bottom: 30px;
        font-size: 20px;
    }
}


/* ---------------------------------------------------------------------------------------------------
スマホサイズはここから
--------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 426px) {
    header {
        width: 100%;
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    main {
        text-align: center;
    }

    body {
        margin: 0;
        padding: 0;
    }



}