<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>ホーム画面</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
		<h1>タスク集中管理</h1>
	</header>
	<main>
			
		<!-- 背景 -->
		<div id="homeBg">
			<!-- ユーザー名を表示 -->
			<p  id="userName" th:text="|ユーザー: ${currentUser.name}|"></p>

			<form  th:action="@{/logout}" method="post">
				<div class="formContainer homeMenuContainer">
					<div class="buttonContainer">
						<button type="submit" class="actionButton getTaskHome">タスク管理</button>
						<button type="submit" class="actionButton getTimerHome">タイマー管理</button>
						<button type="submit" class="actionButton logout">ログアウト</button>
					</div>
				</div>

			</form>
			<!-- 一行目のボタン群 -->
			<div id="container">
				<!-- タスク管理画面遷移 -->
				<form th:action="@{/getTask}" method="get">
					<input id="getTask" type="submit" value="タスク管理" />
				</form>
				<!-- タイマー管理画面遷移 -->
				<form th:action="@{/getTimer}" method="get">
					<input id="getTimer" type="submit" value="タイマー管理" />
				</form>
				<!-- ログアウト -->
				<form th:action="@{/logout}" method="post">
					<input id="logout" type="submit" value="ログアウト" />
				</form>			
			</div>
		</div>
		
	</main>
</body>
</html>