<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/formComponents.css}">
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<header>
		<h1>ログイン</h1>
	</header>
	<main>
			<!-- パラメータのチェック -->
			<div id="flashMessageDisplay" th:if="${flashMessage != null}">
				<p th:text="${flashMessage}"></p>
				<form th:action="@{/loginForm}" method="get">
					<input id="messageDeleteButton" type="submit" value="OK">
				</form>
			</div>
			<!-- パラメータのチェック -->
			<div id="errorMsg" th:if="${param.error}">
			<p>ユーザー名またはパスワードが違います。</p>
			<form th:action="@{/loginForm}" method="get">
				<input id="loginError" type="submit" value="戻る">
			</form>
		</div>
		<form class="sendDataForm"  method="?">
			<div class="formContainer loginFormContainer">
				<label class="black-text">メールアドレス</label>
				<input class="white" id="mailInput" type="email" name="email" autocomplete="on">
				<label class="black-text">パスワード</label>
				<input class="white" id="passwordInput" type="password" name="password" autocomplete="off">
			</div>
			<div class="buttonContainer">
				<button class="waves-effect  grey lighten-4 black-text btn actionButton login">ログイン</button>
				<button class="waves-effect waves-light btn black-text	 actionButton registarUser">ユーザー登録</button>
			</div>
		</form>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/validateUser.js}"></script>
	<script src="/js/login/loginFormAction.js"></script>
	<script src="/js/users/userActions.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>