<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/formComponents.css}">
	<link rel="stylesheet" th:href="@{/css/homeComponents.css}">
	<link rel="stylesheet" th:href="@{/css/listComponents.css}">
</head>
<body>
	<h1>ログイン</h1>
	<!-- パラメータのチェック -->
	<div id="flashMessageDisplay" th:if="${flashMessage != null}">
		<p th:text="${flashMessage}"></p>
		<form th:action="@{/loginForm}" method="get">
			<input id="messageDeleteButton" type="submit" value="OK">
		</form>
	</div>
	<!-- パラメータのチェック -->
	<div id="errorMsg" th:if="${param.error}">
		<p>ユーザー名またはパスワードが違います。</p>
		<form th:action="@{/loginForm}" method="get">
			<input id="loginError" type="submit" value="戻る">
		</form>
	</div>
	<form id="userLoginForm" th:action="@{/loginForm}" method="post">
		<div class="loginForm">
			<label>メールアドレス</label>
			<input id="mailInput" type="email" name="email">
			<label>パスワード</label>
			<input id="passwordInput" type="password" name="password">
			<!-- <input id="role" type="hidden" name="role"> -->
		</div>
	</form>
	<div id="login-button">
		<button class="loginRelation" >ログイン</button>
		<button class="userRelation">ユーザー登録</button>
	</div>
	<!-- jqueryを読み込む -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- ユーザー登録バリデーション用のJavaScriptファイルの読み込み -->
	<script th:src="@{/js/validateUser.js}"></script>
	<script src="/js/login/loginFormAction.js"></script>
</body>
</html>